/system/core/Config/config.system.php
/.vscode
# Untrack files
git rm --cached /system/core/Config/config.system.php

# Remove files
git rm /system/core/Config/config.system.php

git rm --cached config.system.php

# Remove files
git rm config.system.php
system/core/Config/config.system.php
